.DS_Store
.vscode/
node_modules/
yarn-debug.log*
yarn-error.log
scratch
.vscode
.favorites.json
dist
NOTES.md
server/config/*
server/!config/default.*
server/sessions
data/
*.code-workspace
dashboard-search/data.ms/*
scratch/*
build/*

.env*
!.env.example

!**/.gitkeep
