version: '3.7'

services:
  postgres:
    image: postgres:9.6
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: ${POSTGRES_USER} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_DOCKER_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  hasura:
    image: hasura/graphql-engine:v2.1.1.cli-migrations-v2
    ports:
      - ${HASURA_PORT}:${HASURA_DOCKER_PORT}
      # - 9695:9695
      # - 9693:9693
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_SECRET}
      HASURA_GRAPHQL_DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${HASURA_DATABASE}
      HASURA_GRAPHQL_ENABLE_CONSOLE: ${HASURA_ENABLE_CONSOLE}
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_AUTH_HOOK: http://${DOCKER_HOST_IP}:8000/${HASURA_WEBHOOK}
    volumes:
      - ./hasura:/hasura
    restart: unless-stopped

  keycloak:
    image: jboss/keycloak:15.1.1
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres
      DB_DATABASE: ${KEYCLOAK_DATABASE}
      DB_USER: ${POSTGRES_USER}
      DB_SCHEMA: public
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      PROXY_ADDRESS_FORWARDING: "true"
      KEYCLOAK_USER: ${KEYCLOAK_USERNAME}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_PASSWORD}
      # KEYCLOAK_IMPORT: /opt/jbss/keycloak/realm-export.json
      # Uncomment the line below if you want to specify JDBC parameters. The parameter below is just an example, and it shouldn't be used in production without knowledge. It is highly recommended that you read the PostgreSQL JDBC driver documentation in order to use it.
      #JDBC_PARAMS: "ssl=false"
    # volumes: 
      # - ./build/templates/keycloak/realm-export.json:/opt/jboss/keycloak/realm-export.json
      # - ./build/templates/keycloak/standalone.xml:/opt/jboss/keycloak/standalone/configuration/standalone.xml
    restart: unless-stopped
  
  redis:
    image: redis:6.2.5
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - ${REDIS_PORT}:${REDIS_DOCKER_PORT}
    restart: unless-stopped

  search:
    image: getmeili/meilisearch:v1.7.3
    environment:
      MEILI_MASTER_KEY: ${MEILI_KEY}
      
    ports:
      - ${MEILI_PORT}:${MEILI_DOCKER_PORT}
    volumes:
      - '/opt/meili_data:/meili_data'
    restart: unless-stopped
  
  nginx:
    image: nginx:1.21.1
    volumes:
      - ./build/templates/nginx/:/etc/nginx/conf.d
      - ${PDFS_PATH}:/pdfs
      - ${THUMBNAILS_PATH}:/thumbnails
    ports:
      - ${NGINX_PORT}:${NGINX_PORT}
    restart: unless-stopped

volumes:
  postgres_data:
  meili_data:
