@media screen {
  .logo-wrapper { width:300px; padding:1.5rem; line-height:1; }
  .logo-wrapper--blue { background:var(--brand-blue); }
  .table--icons td:first-child { width:4rem; }

  .site-header--example { max-width:100%; padding-bottom:1rem; }
  .site-footer--example { max-width:100%; }
  .page-header--example { min-height:10rem; position:relative; }
  .page-header--example::before { content: ""; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: var(--gray-extra-light) 50% 50% / cover no-repeat; }

  .js .nav-toc { display:inline-block; border:1px solid var(--gray-extra-light); padding:1.5rem; margin-bottom:1.5rem; }
  .js .nav-toc::before { content:"Contents"; margin-bottom:1rem; display:block; font-size:0.85rem; text-transform:uppercase; color:var(--gray); }

  .nav-toc ul { list-style:none; font-size:0.9rem; }
  .nav-toc li { margin:0; }
  .nav-toc li li { margin-left:1rem; }
  .nav-toc a { display:inline-block; padding:0.25em 1em; color:var(--brand-blue); }
  .nav-toc a:hover { background:var(--sky-blue); }

  .nav-label { display:block; font-size:0.875rem; letter-spacing: 0.075em; text-transform:uppercase;  font-weight:400; color:var(--gray); }
  ul + .nav-label { margin-top:2rem; }
  .nav-group-heading { padding-left:1rem; }

  .page-section { padding-top:2rem; padding-bottom:3rem; margin-bottom:4rem; }
  .page-section:last-child { margin-bottom:0; }
  .section--dark { background:var(--brand-blue); }
  .section--light { background:var(--sky-blue); }
  .section--dark,
  .section--dark a,
  .section--dark .section-title,
  .section--dark h2,
  .section--dark h3,
  .section--dark .section-label { color:#fff; }
  .section--dark .btn-light { color:var(--brand-blue); }

  .section-image { margin:0 var(--gutter-offset);  }
    .section-body { padding:2rem; }
}

@media screen and (min-width: 48em) {
  .site-content { grid-template-columns: [screen-start] var(--gutter-width) [container-start sidebar-start] var(--sidebar-width) [sidebar-end content-start] minmax(0, 1fr) [content-end container-end] var(--gutter-width) [screen-end]; }
  .content--pull-top { background: #fff; padding: 2rem; margin: -8rem -2rem 0; }
  .section-image { margin:-2rem 0 -2rem var(--gutter-offset);  }
  .section--get-started { padding-top:5rem; }
    .section--get-started::before { border-top:1px solid #ccc; }
}
@media screen and (min-width: 60em) {
  .section-body { padding:3rem; padding-right:0; }
  .section-image { margin-left:calc(var(--gutter-offset) - 2rem); margin-right:0; margin-top:-3rem; margin-bottom:-3rem; }
  .section--alt .section-body { order:-1; padding-right:2rem; padding-left:0; }
  .section--alt .section-image {  margin-left:0; margin-right:-5vw; }
}
@media screen and (min-width: 120em) {
  .section-image { margin-left:-6rem; }
  .section--alt .showcase-item-image { margin-left:0; margin-right:-6rem; }
}
